---
import HeroBannerImage from "../molecules/hero-banner-image.astro";
---

<!-- Hero Section -->
<section
  class="py-20 bg-gradient-to-r from-avocado-200 to-avocado-300 text-white"
>
  <div class="container mx-auto px-4 flex flex-col md:flex-row items-center">
    <div class="md:w-1/2 mb-10 md:mb-0">
      <h1 class="text-4xl md:text-5xl font-bold mb-4 text-gray-100">
        Hola, soy <span class="text-avocado-500">Ricardo Monroy</span>
      </h1>
      <h2 class="text-2xl md:text-3xl font-semibold mb-6 text-gray-100">
        Desarrollador Full Stack
      </h2>
      <p class="text-lg mb-8 text-gray-100">
        Creo soluciones digitales innovadoras con tecnologías modernas y diseño
        centrado en el usuario.
      </p>
      <div class="flex space-x-4">
        <a
          href="#projects"
          class="border-2 border-white text-gray-100 px-6 py-3 rounded-lg font-medium hover:bg-white hover:text-avocado-500 transition"
          >Ver Proyectos</a
        >
        <a
          href="#contact"
          class="bg-gray-100 text-avocado-400 px-6 py-3 rounded-lg font-medium hover:bg-gray-200 transition"
          >Contactar</a
        >
      </div>
    </div>
    <HeroBannerImage />
  </div>
</section>
